body {
  background-color: #f0f4f8;
  color: #444;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.125);
  padding: 20px;
  background-color: #fff;
  margin-bottom: 32px;
}

.days-schedule-container {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.125);
  padding: 20px;
  background-color: #fff;
  margin-bottom: 32px;
}

.container,
.days-schedule-container {
  border: 1px solid #9fa9d0;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0px;
}

.controls > div {
  margin-right: 20px;
}

.controls button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.2s ease;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  background-color: #007bff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.controls button.active {
  background-color: #007bff;
  color: #fff;
}

.controls button:hover {
  background-color: #0260c5;
}

.controls button:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

#upper-week {
  border-radius: 5px 0px 0px 5px;
}

#lower-week {
  border-radius: 0px 5px 5px 0px;
}


.mode-buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.mode-buttons button {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.mode-buttons button.active {
  background-color: #4CAF50;
  color: #fff;
}

.mode-buttons button:hover {
  background-color: #45a049;
  color: #fff;
}


.mode-buttons button:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

#normal-mode {
  border-radius: 5px 0px 0px 5px;
}

#alternative-mode {
  border-radius: 0px 5px 5px 0px;
}

.days {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  margin-bottom: 10px;
}

.days button {
  flex: 1;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: #555;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
}

.days button.active {
  background-color: #3498db;
  color: #fff;
}

.days button.active:hover {
  background-color: #3089c5;
  color: #fff;
}

.days button:hover {
  background-color: #f4f4f4;
  color: #222;
}

.days button .abbreviated-title {
  display: none;
}


.time-bar {
  width: 40px;
  background-color: #3498db;
  color: #fff;
  padding: 12px;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.time-bar-block {
  position: relative;
  margin-top: 30px;
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
}

.time-bar-block .time-bar {
  width: 40px;
  background-color: #f3f3f3;
  color: #444;
  padding: 12px;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.current-time .time-bar {
  background-color: #3498db;
  color: #fff;
}

.time-slot {
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

.time-bar-block:before,
.time-bar-block:after {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  background: #f3f3f3;
  z-index: -1;
}

.time-bar-block:before {
  left: 0;
  border-radius: 10px 0 0 0;
}

.time-bar-block:after {
  right: 0;
  border-radius: 0 0 0 10px;
}

.time-bar-block:first-child .time-bar:before {
  background: #fff;
}

.time-bar-block:last-child .time-bar:after {
  background: #fff;
}

.time-bar-block .schedule-content {
  background-color: #fff;
  border: 1px solid rgba(159, 169, 208, 0.5);
  border-left: none;
  border-top: none;
  border-bottom: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
  padding: 25px;
  overflow-x: auto;
  overflow-y: auto;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.schedule-content {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(159, 169, 208, 0.5);
  border-left: none;
  border-top: none;
  border-bottom: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
  padding: 25px;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.schedule .class {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  cursor: pointer;
  flex-wrap: wrap;
}

.schedule .class strong {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  border-radius: 8px;
  background-color: #3498db;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
  flex-wrap: wrap;
}

.schedule .class strong[data-course="lection"] {
  background-color: #3498db;
}

.schedule .class strong[data-course="seminar"] {
  background-color: #2ecc71;
}

.schedule .class strong[data-course="language"] {
  background-color: #f39c12;
}

.schedule .class p,
.schedule .class strong {
  display: block !important;
  margin-bottom: 5px;
  word-wrap: break-word;
  white-space: normal;
}

.schedule .class i {
  font-size: 16px;
  color: #ccc;
  margin-left: auto;
}

.days button.active-today {
  background-color: #ecf0f1;
  color: #444;
}

.schedule-content .class p,
.schedule-content .class strong {
  line-height: 1.2;
}

.schedule-content .class br {
  display: none;
}

.schedule .class button.additional-info-button {
  padding: 8px 15px;
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: transparent;
  color: #3498db;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.schedule .class button.additional-info-button:hover {
  background-color: #3498db;
  color: #fff;
}

@media (max-width: 768px) {
  .schedule .class strong,
  .schedule .class p {
    white-space: normal;
  }

  .schedule {
    display: flex;
    flex-direction: column;
  }

  .time-bar,
  .schedule-content,
  .days {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }

  .time-bar {
    margin-right: 10px;
  }

  .time-bar-block .schedule-content {
    background-color: #fff;
    border: 1px solid rgba(159, 169, 208, 0.5);
    border-left: none;
    border-top: none;
    border-right: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    padding: 25px;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
  }

  .days {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    margin-bottom: 10px;
  }

  .days button {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: #555;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 14px;
    font-weight: 600;
    outline: none;
  }

  .days button:last-child {
    margin-right: 0;
  }

  .days button .full-title {
    display: none;
  }

  .days button .abbreviated-title {
    display: inline;
  }

  .controls {
    flex-direction: row;
    justify-content: center;
  }
  .controls > div {
    flex: 1;
  }
  .controls button {
    flex-basis: calc(50% - 5px);
    min-width: 130px;
  }

  .controls button,
  .mode-buttons button {
    flex: 1;
    min-width: 100px;
  }

  .controls button:last-child {
    margin-right: 0;
  }

  .mode-buttons {
    width: 100%;
    margin-bottom: 20px;
  }
  .mode-buttons button {
    width: calc(50% - 5px);
    min-width: 100px;
  }
  .mode-buttons button:last-child {
    margin-right: 0;
  }

  .time-bar-block {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .time-bar-block .time-bar {
    margin-right: 10px;
  }

  .schedule-content,
  .days {
    margin: 0;
    padding: 0;
  }

  .schedule-content .class p,
  .schedule-content .class strong {
    line-height: 1.2;
  }

  .schedule-content .class br {
    display: none;
  }
}

#upper-week:not(.active),
#lower-week:not(.active),
#normal-mode:not(.active),
#alternative-mode:not(.active) {
  background-color: #f0f4f8;
  color: #000000;
}

#upper-week:not(.active):hover,
#lower-week:not(.active):hover,
#normal-mode:not(.active):hover,
#alternative-mode:not(.active):hover {
  background-color: #d9d9d9;
  color: #000000;
}

@media (min-width: 769px) {
  .schedule .class strong,
  .schedule .class p {
    white-space: nowrap;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .schedule {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .time-bar {
    margin-left: 15px;
  }

  .mode-buttons {
    height: calc(100% + 10px);
  }

  .schedule .class {
    flex-basis: calc(50% - 20px);
    margin-right: 20px;
  }

  .schedule .class:nth-child(odd) {
    margin-right: 0;
  }

}
.theme-switch i {
  margin-right: 5px;
}
.theme-switch label {
  margin: 0 5px;
}
.theme-switch .fa-lightbulb {
  font-size: 18px;
  margin-bottom: -8px;
}

.theme-switch .fa-moon {
  font-size: 18px;
  margin-bottom: -9px;
}


.theme-switch .fa-moon {
  margin-left: -13px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 46px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 0;
  right: 12px;
  bottom: 12px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #444;
}

input:focus + .slider {
  box-shadow: 0 0 1px #444;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
